################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/List4.sln
/.vs
